body {
	width: 100%;
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	background: url('../images/purple-background.jpg') no-repeat center center fixed;
	background-size: cover;
}

a {
	text-decoration: none;
}

header {
	width: 100%;
	height: 80px;
	background-color: #393939;
}

header h1 {
	font-size: 50px;
	padding: 10px;
	color: #EDEDED;
}

section {
	width: 80%;
	margin: 0px 100px 30px 100px;
	padding: 15px 15px 0px 15px;
	overflow: hidden;
	background-color: #EDEDED;
	opacity: 0.94;
	line-height: 1.5;
}

article {
	margin-bottom: 100px;
}

h2 {
	font-size: 30px;
	padding: 10px 15px 0px 15px;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	padding: 10px 15px 0px 15px;
}

h4 {
	padding: 10px 15px 0px 15px;
}

p {
	padding: 10px 15px 0px 15px;
	color: #393939;
	font-size: 15px;
}

ul {
	list-style-type: circle;
	padding-left: 100px
}

img {
	padding: 20px;
	padding-left: 100px;
}

footer {
	background-color: #393939;
	position: fixed;
	bottom: 0px;
	height: 10%;
	width: 100%;
}

footer a {
	float: left;
}

footer img {
	padding: 15px 10px;
}

/* Smartphones (portrait) ----------- */
@media (max-width : 480px) {
 	p, h3 {
 		font-size: 0.8em !important;
 	}
}

