body {
	width: 100%;
	height: 100%;
	background-color: #EDEDED;
}

a {
	text-decoration: none;
}

header {
	width: 100%;
	height: 80px;
	background-color: #393939;
}

header h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 50px;
	padding: 10px;
	color: #EDEDED;
}

section {
	width: 80%;
	margin: 30px 100px 30px 100px;
	overflow: hidden;
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	margin: 10px 15px 0px 15px;
}

h4 {
	font-family: Verdana, Geneva, sans-serif;
	padding: 10px 15px 0px 15px;
}

h6 {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	padding: 0px 15px 15px 15px;
}

p {
	font-family: Trebuchet, Helvetica, sans-serif;
	color: #393939;
	font-size: 15px;
	background-color: #393939;
	color: #EDEDED;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px 15px
}

ol {
	list-style-type: circle;
}

img {
	padding: 10px;
}

.blog a {
	padding: 10px;
	font-family: Trebuchet, Helvetica, sans-serif;
	text-decoration: none;
	color: #393939;
	font-size: 20px;
}

.blog section h2 {
	padding: 10px 15px
}

.post-left {
	margin-left: 60px;
}

.column {
	width: 28%;
	float: left;
	padding: 1%;
}

.post {
	background-color: #FFFFFF;
	margin-bottom: 33px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #A5A0A0;
}

footer {
	background-color: #393939;
	position: fixed;
	bottom: 0px;
	height: 10%;
	width: 100%;
}

footer a {
	float: left;
}

footer img {
	padding: 15px 10px;
}

/* Smartphones (portrait) ----------- */
@media (max-width : 480px) {
 	p, h3 {
 		font-size: 0.8em !important;
 	}
}

